main {
  margin-left: calc(10% + 120px ); /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}
header {
  margin-left: calc(10% + 120px );
  height: 250px;
}